@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/*
font-family: 'Barlow Semi Condensed', sans-serif;
## Colors

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

## Typography

### Body Copy

- Font size: 13px

*/
/* Variables */
$font-family:'Barlow Semi Condensed', sans-serif;
$font-size:13px;
$moderateViolet:hsl(263, 55%, 52%);
$darkGrayishBlue:hsl(217, 19%, 35%);
$darkBlackishBlue:hsl(219, 29%, 14%);
$white:hsl(0, 0%, 100%);
$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue:hsl(210, 46%, 95%);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    width:100%;
    min-height: 100vh;
    background-color: $lightGrayishBlue;
    font: {
        size:$font-size;
        weight:500;
        family:$font-family;
    }
    color: $white;
    img{
        border-radius: 50%;
    }
    .client-details{
        display: flex;
        column-gap: 1.75rem;
        .name{
            color:$white;
        }
        .verified{
            color:$white;
            opacity: 50%;
        }
    }

}

.testimonial-grid-container{
    width: 90%;
    color: $lightGray;
    margin: 2rem auto;
    .grid-item{
        margin-bottom: 1.5rem;
        padding: 2.5rem 3rem;
        border-radius: 15px;
        p{
            margin:1rem 0;
           
        }
        p.darker-text{
            font: {
                weight:700;
                size:18px;
            }
            color: $white;
        }
        p.lighter-text{
            font: {
                weight:700;
                size:16px;
            }
            color: $white;
            opacity: 70%;
        }
    }
    .testimonial-grid-item-1{
        background-color: $moderateViolet;
        img{
            border:2px solid purple;
        }
        position: relative;
        p.darker-text{
            z-index: 92;
        }
    }
    .testimonial-grid-item-1::after{
        content: url(../images/bg-pattern-quotation.svg);
        position: absolute;
        top:37px;
        height: 30px;
        width: 30px!important;
        right: 115px;
        opacity: 40%;
    }
    .testimonial-grid-item-2{
        background-color: $darkGrayishBlue;
    }
    .testimonial-grid-item-3{
        background-color: $white;
        p.darker-text{
            color: $darkGrayishBlue;
        }
        p.lighter-text{
            color: $darkGrayishBlue;
            opacity: 70%;
        }
        .name,.verified{
            color: $darkGrayishBlue;
        }
        .verified{
            opacity: 50%;
        }

    }
    .testimonial-grid-item-4{
        background-color: $darkBlackishBlue;
        img{
            border:2px solid purple;
        }
    }
    .testimonial-grid-item-5{
        background-color: $white;
        p.darker-text{
            color: $darkGrayishBlue;
        }
        p.lighter-text{
            color: $darkGrayishBlue;
            opacity: 70%;
        }
        .name,.verified{
            color: $darkGrayishBlue;
        }
        .verified{
            opacity: 50%;
        }
    }

}

@media(min-width:950px){
    .testimonial-grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
        row-gap: 1rem;
        width: 90%;


        .testimonial-grid-item-5{
            grid-area: 3/1/4/3;   
        }
    
    }
}
@media(min-width:1135px){

    .testimonial-grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 2rem;
        row-gap: 1rem;
        width: 90%;
        margin-top: 6rem!important;
        margin-bottom: 6rem!important;
        .grid-item{
            p.lighter-text{
                font-size: 17px;
            }
            p.darker-text{
                font-size: 22px;
            }
        }

        .testimonial-grid-item-1{
            grid-area: 1/1/3/2;
            align-self: flex-start;
            
        }
        .testimonial-grid-item-3{
            grid-area: 1/2/2/4;
    
        }
        .testimonial-grid-item-5{
            grid-area: 3/2/4/4;   
        }

    
    }
}

@media(min-width:1335px){
    .testimonial-grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        row-gap: 1rem;
        width: 90%;
        align-items: flex-start;
        .grid-item{
            padding:2.5rem 1.5rem;
            p.darker-text{
                font-size: 22px;
            }
            
        }
        .testimonial-grid-item-1{
            grid-area: 1/1/2/3;
            p.lighter-text{
                font-size: 17px;
            }
        }
        .testimonial-grid-item-1::after{
            content: url(../images/bg-pattern-quotation.svg);
            position: absolute;
            top:37px;
            height: 30px;
            width: 30px!important;
            right: 160px;
            opacity: 40%;
        }
        .testimonial-grid-item-2{
            grid-area: 1/3/2/4;
            align-self: stretch;
            p.lighter-text{
                line-height: 1.5;
                font-size: 18px;
            }
    
        }
        .testimonial-grid-item-3{
            grid-area: 2/1/3/2;
            align-self: stretch;
            p.lighter-text{
                line-height: 1.5;
                font-size: 18px;
            }
    
        }
        .testimonial-grid-item-4{
            grid-area: 2/2/3/4;
            p.lighter-text{
                font-size: 17px;
            }
    
        }
        .testimonial-grid-item-5{
            grid-area: 1/4/3/5; 
            align-self: stretch;
            p.lighter-text{
                line-height: 1.5;
                font-size: 18px;
            }
        }

    
    }
}